$primary-color: #CC3341;

@mixin style-listbox{
	
	border: 1px solid #e3e3e3;
	background: white;
	padding: 1em; 
	
}

/* Main */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 15px;
  position: relative;

  > .container {

	  padding: 35px 20px 0;
	  margin-bottom: 10px;
	  overflow: hidden;
  	}

  	a{
  		color: $primary-color;
  		
  		&:focus, &:hover{
  			color: $primary-color;
  			text-decoration: none;
  		}
  	
  	}
 
 }

.btn{
	&:focus, &:active:focus, &:active:focus{
		 outline: 0 none;
	}
}

.active{
	&:focus{
		 outline: 0 none;
	}
}

.alert{
	border-radius: 0px;
}

.btn-primary{
		background-color: #3E474F;
		border-color: #3E474F;
		outline-color: #3E474F;
		color: #EBEBEB;
		&:disabled{
			background-color: #3E474F;	
		}
		&:hover, &:active, &:focus{
			background-color: #2E353B;
			border-color: #2E353B;
			outline-color: #2E353B;
		}		
	}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: #3E474F;
  border-color: #3E474F;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #2E353B;
}

list-group-item.active>.badge, .nav-pills>.active>a>.badge {
  color: $primary-color;
  background-color: #fff;
}

  #registration-form{
  	margin-top: 47px;
  }

  #main-title{

  	margin-top: 30px;

  	font-family: 'Source Sans Pro', sans-serif;

  	h1{
  		font-weight: 300;
  	}

  	h2{
  		font-weight: 200;
  	}
  }

  #center-column{
	margin-top: 45px;
}

.center-form{
	margin-top: 15px;
	border: 1px solid #e3e3e3;
	background: white;
	margin-bottom: 3em;
	padding: 0;

	textarea{
		border: none;
		resize: none;
		&:focus{
			box-shadow: none;			
		}
	}

	form{
		
		padding: .5em 1em;
		margin-bottom: 0;
		overflow: hidden;

		input[type=submit] {
			float: right;
		}

	}

}

#loader{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    opacity: .8;
    background-color: #FFFFFF;
}

#go-up{

	position: fixed;	
	margin-top: 45%;
	margin-left: 92%;
	padding : 0;
	z-index: 102;
	display: none;

	span{
		font-size: 215%;
		color: $primary-color;	
	}
}

  /*Glyphicons*/

 .glyphicon-eye-open{
	margin-left: 5px;
}

 .glyphicon-chevron-down{
 	color: $primary-color;
 }

  .glyphicon-chevron-up{
 	color: $primary-color;
 }


/*Navigation Bar*/

  .navbar{

  		background-color: $primary-color;
		border-radius: 0px;
		border-color: $primary-color;
		position: fixed;
		z-index: 104;
		width: 103%;

		a{
			color: white;
			text-decoration: none;
		}

		.navbar-brand{		
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 650;
			color: white;
		}
	}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: $primary-color;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color: white;
}

.dropdown-menu{
  z-index: 104;
}


/*Footer*/

	.footer {

	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  height: 35px;
	  background-color: #EBEBEB;
	  padding-top: 14px;
	  z-index: 100;
	}


/*Avatars*/

.avatar{

	border: 1px solid #FFF;
	}

	.large-avatar{

		width: 70px;
		height: 70px;
	}

	.medium-avatar{

		width: 40px;
		height: 40px
	}

	.small-avatar{

		border: 1px solid #FFF;
		width: 25px;
		height: 25px
	}


/*Alerts*/

.flash-alert{
	
	display: none;
	position: absolute;
	z-index: 100;	
}

.welcome-alert{
	margin-top: 38%;
	margin-left: 75%;	
}


.center-alert{
	top: 35%;
	left: 43%;	
}


/*Private Messages*/

.message-body{
	display: none;
}

.message-list{
	margin-top: 10px;
}

.message-response-list{
	margin-top: 10px;
}



/*listted objects*/

.listed-object{
	@include style-listbox;
	margin-bottom: 2em;
}

.listed-object-close{
	@include style-listbox;
	margin-bottom: -1.5em;
}


/*Profile section*/
#profile-card{
	margin-top: 45px;
	padding: 1em;
	border: 1px solid #e3e3e3;
	background: white;
}

.list-group-item:first-child {
  border-radius: 0px;
}

.list-group-item:last-child {
  border-radius: 0px;
}




/*Pagination*/

.paginator{
	margin-top: 10px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: $primary-color;
  border-color: $primary-color;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: $primary-color;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: $primary-color;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: $primary-color;
  background-color: #eee;
  border-color: #ddd;
}


/*friend side list*/

#right-side-column{
	margin-top: 45px;
}

.chat-switch{
	border: 1px solid #e3e3e3;
	padding: .5em;
	background: white;
}

.chat-switch .chat-button{
	margin-top: 7px;
}


#friend-list{
	border: 1px solid #e3e3e3;
	background: white;
	margin-bottom: 3em;
	padding-top: 0px;
	height: 400px;
	overflow-y:scroll;
}

#friend-list .list-group-item{
	border: none;
}

#friend-list .list-group-item span{

	float: right;
}

#friend-list .list-group-item{

	background: white;
}

#friend-list .disabled{

  opacity: 0.5;

}

#friend-list .wrapper{

	position:absolute;
    left:0;
    top:51px;
    background: rgba(255,255,255,.5);
    width:260px;
    height:400px;
    z-index: 101;
    display: none;   
}

#friend-list .wrapper-2{

	position:absolute;
    left:0;
    top:51px;
    background: rgba(255,255,255,.5);
    width:260px;
    height:400px;
    z-index: 102; 
    display: block; 
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  color: #fff;
  background: $primary-color;
}


/*chat box*/

#chat-container{
	overflow: visible;
}

.chat-room{

	position: fixed;
	background: white;
	bottom: 35px;
	margin-left:0px;
	width: 20%;
	border: 1px solid #e3e3e3;
	padding: 1em;
	z-index: 101;
	
}

.chat-room a{
	float: right;
	margin-left: 3px;
}

.chat-room .chat-body{

	border: 1px solid #e3e3e3;
	background: white;
	overflow-y:scroll;
	height: 100px;
	margin-bottom: 5px;
	
}

.messages{

	list-style-type: none; margin: 0; padding: 0;
}

.chat-body .messages li {
	padding: 5px 10px; 
}

.chat-room .close{
	/*margin-left: 6px;
	margin-top: -10px;*/
}


/*Media queries*/
@media screen and (max-width: 990px) {

	#right-side-column{
		display: none;
	}



}

